In [1]:
#For the updated exercise 2.1, calculate by hand (or in python) the following:

#current through lines 1 and 2
#voltages at all buses 1 to 6
#power (active and reactive) at the load
#Compare the results with the power flow result from your pandapower network (lab session)

In [2]:
import pandapower as pp
import pandapower.plotting as plot
import pandapower.networks as pn
import matplotlib.pyplot as plt

#create empty net
net = pp.create_empty_network(f_hz=50.0, sn_mva=100)

In [3]:
#create buses
bus0 = pp.create_bus(net, vn_kv=22, name="Bus 0", type="b")
bus1 = pp.create_bus(net, vn_kv=22, name="Bus 1", type="b")
bus2 = pp.create_bus(net, vn_kv=11, name="Bus 2", type="b")
bus3 = pp.create_bus(net, vn_kv=220, name="Bus 3", type="b")
bus4 = pp.create_bus(net, vn_kv=220, name="Bus 4", type="b")
bus5 = pp.create_bus(net, vn_kv=110, name="Bus 5", type="b")
bus6 = pp.create_bus(net, vn_kv=110, name="Bus 6", type="b")

#create bus elements. The n types are those adjacents to a transformer

In [4]:
pp.create_impedance(net, from_bus=bus0,to_bus=bus1,r_pu=0,x_pu=0.2, rft_pu=0,xft_pu=0.2,sn_mva=100, name="gen")
pp.create_impedance(net, from_bus=bus1,to_bus=bus3,r_pu=0,x_pu=0.2, rft_pu=0,xft_pu=0.2,sn_mva=100, name="trafo 1")
pp.create_impedance(net, from_bus=bus3,to_bus=bus4,r_pu=0,x_pu=0.1, rft_pu=0,xft_pu=0.1,sn_mva=100, name="lines 1")
pp.create_impedance(net, from_bus=bus4,to_bus=bus2,r_pu=0,x_pu=0.15, rft_pu=0,xft_pu=0.15,sn_mva=100, name="trafo 2")
pp.create_impedance(net, from_bus=bus1,to_bus=bus5,r_pu=0,x_pu=0.16, rft_pu=0,xft_pu=0.16,sn_mva=100, name="trafo 3")
pp.create_impedance(net, from_bus=bus5,to_bus=bus6,r_pu=0,x_pu=0.5, rft_pu=0,xft_pu=0.5,sn_mva=100, name="lines 1")
pp.create_impedance(net, from_bus=bus6,to_bus=bus2,r_pu=0,x_pu=0.2, rft_pu=0,xft_pu=0.2,sn_mva=100, name="trafo 4")

6

In [5]:
net.bus

    name  vn_kv type  zone  in_service
0  Bus 0   22.0    b  None        True
1  Bus 1   22.0    b  None        True
2  Bus 2   11.0    b  None        True
3  Bus 3  220.0    b  None        True
4  Bus 4  220.0    b  None        True
5  Bus 5  110.0    b  None        True
6  Bus 6  110.0    b  None        True

In [6]:
#create branch elements
trafo1 = pp.create_transformer_from_parameters(net, hv_bus=3, lv_bus=1, name="Trafo1",sn_mva=50, vn_hv_kv=220, vn_lv_kv=22, vkr_percent=0.3, vk_percent=10, pfe_kw=30, i0_percent=0.1)
trafo2 = pp.create_transformer_from_parameters(net, hv_bus=4, lv_bus=2, name="Trafo2",sn_mva=40, vn_hv_kv=220, vn_lv_kv=11, vkr_percent=0.3, vk_percent=10, pfe_kw=30, i0_percent=0.1)
trafo3 = pp.create_transformer_from_parameters(net, hv_bus=5, lv_bus=1, name="Trafo3",sn_mva=40, vn_hv_kv=110, vn_lv_kv=22, vkr_percent=0.3, vk_percent=10, pfe_kw=30, i0_percent=0.1)
trafo4 = pp.create_transformer_from_parameters(net, hv_bus=6, lv_bus=2, name="Trafo4",sn_mva=40, vn_hv_kv=1100, vn_lv_kv=11, vkr_percent=0.3, vk_percent=10, pfe_kw=30, i0_percent=0.1)
line1 = pp.create_line_from_parameters(net, from_bus=bus3, to_bus=bus4, name="Line1", length_km=1, r_ohm_per_km=48.4, x_ohm_per_km=0.083, c_nf_per_km=0, max_i_ka=0.9)
line2 = pp.create_line_from_parameters(net, from_bus=bus5, to_bus=bus6, name="Line2", length_km=1, r_ohm_per_km=65.43, x_ohm_per_km=0.083, c_nf_per_km=0, max_i_ka=0.9)
#from where did he took all the values? an example at the pandapower documentation
#what is short circuit voltage? is the same thing as Xpu?

In [7]:
net.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,...,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service
0,Trafo1,None,3,1,50.0,220.0,22.0,10.0,0.3,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
1,Trafo2,None,4,2,40.0,220.0,11.0,10.0,0.3,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
2,Trafo3,None,5,1,40.0,110.0,22.0,10.0,0.3,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
3,Trafo4,None,6,2,40.0,1100.0,11.0,10.0,0.3,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True

In [8]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line1,None,3,4,1.0,48.40,0.083,0.0,0.0,0.9,1.0,1,None,True
1,Line2,None,5,6,1.0,65.43,0.083,0.0,0.0,0.9,1.0,1,None,True

In [13]:
gen=pp.create_ext_grid(net, bus=1, vm_pu=1, name="Grid Connection")
load=pp.create_load_from_cosphi(net, bus=2, sn_mva=57, cos_phi=0.6, scaling=.95, mode="underexcited", const_z_percent=100, name="Load")
#impedance=pp.create_impedance(net,from_bus=0, to_bus=1, rft_pu=,xft_pu=,sn_mva=)

In [10]:
impedance=pp.create_impedance(net, bus0, bus1,r_pu=0,x_pu=0.18,sn_mva=90,rft_pu=0,xft_pu=0.18)

In [14]:
pp.runpp(net,max_iteration=100)
#it failed to compile everytime until I added impedances to the lines

In [16]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,103.720366,54.929418,-82.119750,-54.892376,21.600616,0.037042,0.38570,0.38570,0.38570,0.798574,-3.345205,0.672080,2.509955,42.855567
1,47.759977,12.959025,-32.490424,-12.939655,15.269553,0.019370,0.27891,0.27891,0.27891,0.931264,-1.985309,0.658123,4.549210,30.989999

In [17]:
net.res_bus

      vm_pu  va_degree       p_mw      q_mvar
0  1.000000   0.000000   0.000000    0.000000
1  1.000000   0.000000 -83.551013 -272.701340
2  0.481746  -1.777829  45.434987   60.579983
3  0.798574  -3.345205   0.000000    0.000000
4  0.672080   2.509955   0.000000    0.000000
5  0.931264  -1.985309   0.000000    0.000000
6  0.658123   4.549210   0.000000    0.000000